<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 数据库连接信息 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
 		
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/itcastoa?characterEncoding=utf8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>


		<!-- 其他配置 -->

		<!--<property name="current_session_context_class">thread</property> -->

		<property name="show_sql">true</property>

		<property name="format_sql">true</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
 
		<!-- jbpm的映射文件 -->
		<mapping resource="jbpm.repository.hbm.xml" />
		<mapping resource="jbpm.execution.hbm.xml" />
		<mapping resource="jbpm.history.hbm.xml" />
		<mapping resource="jbpm.task.hbm.xml" />
		<mapping resource="jbpm.identity.hbm.xml" />  


		<!-- 导入映射文件 -->
		<mapping resource="cn/itcast/oa/domain/User.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Role.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Department.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Privilege.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Forum.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Topic.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Reply.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/FormTemplate.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/Form.hbm.xml" />
		<mapping resource="cn/itcast/oa/domain/ApproveInfo.hbm.xml" />
	</session-factory>
</hibernate-configuration>
